.container{
    display: flex;
    margin: auto;
    align-items: center;
    width: 60%;
}

.list-container{
    width: 100%;
    margin-left: 100px;
}

.header-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
